.header {
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-around;
}

li {
    cursor: pointer;
}

.completedTask {
    text-decoration: line-through;
    cursor: default;
}